{% extends "base.html" %}
{% block title %}register expenses{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}


{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <form id="myForm">
        <div class="form-group">
            <label for="total">Cantidad:</label>
            <input type="number" id="total" name="total" class="form-control" required>
        </div>

        <div class="form-group">
            <label form ="dateField">Fecha:</label>
            <input type="text" id="dateField" name="dateField" class="form-control">
        </div>

    <div class="form-group">
        <label for="note">Nota:</label>
        <textarea id="note" name="note" class="form-control" rows="4"
        placeholder="Añade una nota" required></textarea>
    </div>

    <input type="hidden" id="operationType" name="operationType">

    <button type="button" class="btn btn-primary btn-block" onclick="submitForm('expenses')">Guardar</button>
    </form>

    <h2>Lista de Gastos</h2>
    <div id="response"></div>
    <div class="card-container">
        {% for record in records %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ record.note }}</h5>
                    <p class="card-text">Total: ${{ record.total }}</p>
                    <p class="card-text">
                        <small class="text-muted">
                            Fecha: {{record.date}}
                        </small>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

{% block scripts %}
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('{{ url_for("static", filename="sw.js") }}').then(function() {
                    console.log('Service Worker registrado con éxito.');
                }, function(err) {
                    console.log('Registro de Service Worker fallido:', err);
                });
            });
        }
    </script>
    {{super()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
